* {
    margin: 0;
    padding: 0;
}

.desconto {
    background-color: #1cd1b0;
    width: 1024px;
    height: 18px;
    padding: 10px 0;
}

.titulo {
    background-color: #00669f;
    width: 996px;
    height: 47px;
    padding: 28px;
    padding-right: 0;
}
