* {
    margin: 0;
    padding: 0;
}

.desconto {
    background-color: #1cd1b0;
    width: 1014px;
    height: 18px;
    padding: 10px 0 10px 10px;
}

.titulo {
    background-color: #00669f;
    width: 996px;
    height: 47px;
    padding: 28px;
    padding-right: 0;
}

footer {
    color: #fff9f9;
    width: 1024px;
    height: 51px;
    background-color: #00669f;
}

footer p {
    padding: 16px 0 16px 28px;
    width: 299px;
    height: 19px;
}
